In [1]:
myStr = "Hello World"

In [2]:
myStr

'Hello World'

***2.1 Add Op***

In [23]:
myStr_2 = "Hello"+" World"

In [24]:
myStr_2

'Hello World'

In [25]:
myStr_2 == myStr

True

***2.2 Mul Op***

In [26]:
myStr_2 = (myStr_2+"\n")*3

In [27]:
print(myStr_2)

Hello World
Hello World
Hello World

***2.3 length Op***

In [28]:
len(myStr)

11

***2.4 Split and Join Op***

In [73]:
myStr_2.split("\n")

['Hello World', 'Hello World', 'Hello World', '']

In [74]:
myStr_3 = "1 2 4 5"

In [75]:
myStr_3.split(" ")

['1', '2', '4', '5']

In [76]:
myStr_4 = "1,2,4,5"

In [77]:
res = myStr_4.split(",")
print(res)

['1', '2', '4', '5']

In [78]:
myStr_4 = "*"
myStr_4 = myStr_4.join(res)
print(myStr_4)

1*2*4*5

Note: Join OP needs to set up the Separator like "*"

***2.5 Replace Op***

In [79]:
myStr_4 = myStr_4.replace("*",",")

In [80]:
myStr_4

'1,2,4,5'

***2.6 Upper & Lower Case Op***

In [81]:
myStr_5 = "HELLO WORLD"

In [84]:
myStr_5 = myStr_5.lower()
print(myStr_5)

hello world

In [85]:
myStr_5 = myStr_5.upper()
print(myStr_5)

HELLO WORLD

***2.7 Strip Op***

Used to remove the characters specified at the beginning and end of a string (the default is spaces).

In [86]:
myStr_6 = "   Hello World   "

In [87]:
myStr_6.strip(" ")

'Hello World'

In [88]:
myStr_6.lstrip(" ")

'Hello World   '

In [89]:
myStr_6.rstrip(" ")

'   Hello World'

***2.8 {format} Op***

In [92]:
myWeb = "{}{}{}".format("https://","catting",".co.uk")

In [93]:
myWeb

'https://catting.co.uk'

In [96]:
myName = "{2}{0}{1}".format("tt","ing","Ca")
print(myName)

Catting

In [105]:
"{ca}{tt}{ing}".format(ca = 5,tt = "2", ing = 0.0)

'520.0'

C Style

In [103]:
name = "catting has "
rent = 10
moneyFormat = "$ Remains "
remainMoney = 1.2
rich = "%s%d%s%f" %(name,rent,moneyFormat,remainMoney)
print(rich)

catting has 10$ Remains 1.200000