### Set

In [1]:
myList = [123,123,456]
type(myList)

list

In [3]:
mySet = set(myList)
print(type(mySet))
print(mySet)

<class 'set'>
{456, 123}

A set in a mathematical sense is a set of non repeating elements

In [4]:
mySet = set([123,123,123,452,451,452])
mySet

{123, 451, 452}

In [6]:
mySet = {123,123,456,242}
mySet

{123, 242, 456}

## ***7. Set Op***

## ***7.1 Union Op***

In [7]:
mySet = {1,2,3,4,5}
LucasSet = {2,3,4,7}

In [8]:
mySet.union(LucasSet)

{1, 2, 3, 4, 5, 7}

In [9]:
LucasSet.union(mySet)

{1, 2, 3, 4, 5, 7}

In [10]:
LucasSet | mySet

{1, 2, 3, 4, 5, 7}

## ***7.2 Intersection Op***

In [11]:
mySet.intersection(LucasSet)

{2, 3, 4}

In [12]:
mySet & LucasSet

{2, 3, 4}

## ***7.3 Difference Op***

In [13]:
mySet = {1,2,3,4,5}
LucasSet = {2,3,4,7}
mySet.difference(LucasSet)

{1, 5}

In [14]:
LucasSet.difference(mySet)

{7}

In [15]:
mySet - LucasSet

{1, 5}

In [16]:
LucasSet - mySet

{7}

## ***7.4 SubSet Op***

In [17]:
mySet = {1,2,3,4}
LucasSet = {2,3,4}
mySet.issubset(LucasSet)

False

In [18]:
LucasSet.issubset(mySet)

True

In [19]:
LucasSet <= mySet

True

In [20]:
LucasSet <= LucasSet

True

In [21]:
LucasSet < LucasSet

False

## ***7.5 Calculate properties***

In [22]:
mySet = {1,2,3,4}
LucasSet = {2,3,4}

Add Op

In [23]:
mySet.add(5)

In [24]:
mySet

{1, 2, 3, 4, 5}

In [25]:
mySet.update({3,4,5,6,7})

In [26]:
mySet

{1, 2, 3, 4, 5, 6, 7}

Delete Op

In [30]:
mySet.discard(2)

In [31]:
mySet

{1, 3, 4, 5, 6, 7}

In [32]:
mySet.remove(1)

Pop Op pop the first item in the Set

In [33]:
mySet

{3, 4, 5, 6, 7}

In [34]:
mySet.pop()

3