# Python Numerical Operation

*How to create next cell -> Shift+Enter*

## *1. Simple Operations*

In [1]:
2+2
1+1

2

If there are many operations in the same cell, then the output will show the op on the buttom.

## *1.1 Print Operation with + - * / and % also ** *

In [2]:
print(2+2)

4

In [3]:
print(3%2)

1

In [4]:
print(3**2)

9

*Note:

3**2 means 2 power of 3*

## *1.2 Assignment operation and Var*

In [5]:
num = 2

In [6]:
num

2

In [7]:
type(num)

int

In [8]:
num_float = 1.2

In [32]:
type(num_float)

float

In [35]:
eaten = True

In [36]:
eaten

True

## *1.3 Change Var Type*

float to int -> Note that the integer part is retained here

In [10]:
num_float = 1.8

In [11]:
num = int(num_float)

In [12]:
type(num)

int

In [13]:
num

1

int to float

In [14]:
num = 2

In [15]:
num_float = float(num)

In [16]:
num_float

2.0

In [17]:
type(num_float)

float

String to Float

In [18]:
#print(float(str))
# """
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# <ipython-input-36-dd7b78b39774> in <module>
# ----> 1 print(float(str))

# ValueError: could not convert string to float: 'Hello World'
# """

In [19]:
str_num = "123"
print(type(str_num))
num_float = float(str_num)

<class 'str'>

In [20]:
num_float

123.0

Float to String

In [21]:
num_float = 123.0

In [22]:
str(num_float)

'123.0'

## *1.4 Calculation Order*

* ()
* \*\*
* */
* +-

## *1.5 Basic Numeric Operation*

In [23]:
abs(12.1)

12.1

In [24]:
round(12.1)

12

In [25]:
round(12.55)

13

In [26]:
min(2,1,4,5)

1

In [27]:
max(32,53,1)

53

In [28]:
1.3e-5

1.3e-05

In [29]:
1.3e5

130000.0

In [30]:
0x7FFFFFFF

2147483647

2147483648

In [37]:
eaten = 1

In [38]:
eaten > 2

False